
/* Main Containers */
.outer-container {
  height: 600px;
  width: 500px;
  background: #eee;
  border: 5px solid #ccc;
}
.game-window {
  height: 100%;
  width: 300px;
  background: #222;
  border-right: 3px solid #53f;
  float: left;
}
.status-window {
  height: 100%;
  width: 197px;
  background: #feb;
  float: right;
}

.shield{
  position: absolute;
  height: 65px;
  width: 65px;
}

#shield_wear{
  position: absolute;
  top: -2px;
  left: -3px;
  height: 65px;
  width: 65px;
  display: none;
}

#shield-dual{
  position: absolute;
  top: -2px;
  left: 57px;
  height: 65px;
  width: 65px;
  display: none;
}


#level-up{
  display: none;
  background-color: transparent;
  text-align: center;
  color: white;
  position: absolute;
  margin-top: 150px;
  margin-left: 60px;
}

#splash {
  background-color: transparent;
  text-align: center;
  color: white;
  position: absolute;
  margin-top: 50px;
  margin-left: 15px;
}

#set-box {
  display: none;
}

/* Game Objects */
#health{
  position: relative;
  margin-top: 5px;
  margin-right: 10px;
  left: 255px;
  display: none;
  right: 0;
  top: 0;
}

#heart-1{
  background-color: transparent;
  position: absolute;
  display: inline;
}

#heart-2{
  background-color: transparent;
  position: absolute;
  left: 23px;
  display: inline;
}

#explosion{
  display: none;
  position: absolute;
  left: 4px;
  top: -7px;
  height: 50px;
  /*
  left: 15px;
  top: -30px;
  height: 80px;*/
}

.ship {
  top: 530px;
  left: 122px;
  position: relative;
  display: inline-block;
}
.rocket {
  position: absolute;
}
.rocket img {
  height: 40px;
}
.asteroid {
  position: absolute;
}

.game-over{
  position: absolute;
  background-color: transparent;
  margin-left: 50px;
  text-align: center;
  color: white;
}
